.classes_column {
    padding-left: 225px;
    width: 400px;
}

.row_wrapper {
    float: left;
    margin-left: 40px;
}

.classes_header {
    padding-left: 60px;
}

.a_button {
    border: None;
    border-radius: 5px;
    background-image: linear-gradient(#41D4D1, #13B0AC);
    padding: 10px;
    outline: None;
    display: block;
    float: right;
    width: 130px;
}

.a_button:hover {
    background-image: linear-gradient(#13B0AC, #41D4D1);
    cursor: pointer;
}

.a_button:focus {
    border: 1px solid #13B0AC;
    cursor: pointer;
}

.check_courses {
    float: right;
    margin-top: 40px;
}

.another_class {
    margin-top: 30px;
}

.button_wrapper {
    display: inline-block;
    float: right;
}
